.about {
  padding-block: 60px 92px;

  @include on-tablet {
    padding-block: 120px;
  }

  &__container {
    display: grid;
    row-gap: 32px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }

    @include on-desktop {
      column-gap: 111px;
    }
  }

  &__title {
    margin: 0;

    color: $white-color;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include on-desktop {
      font-size: 64px;
      line-height: 64px;
    }
  }

  &__text {
    margin: 0;

    color: $white-color;
    font-size: 23px;
    line-height: 32px;
    font-weight: 500;
  }
}
