.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 56px;
  max-width: 392px;

  border-radius: 40px;

  background-color: $white-color;
  color: $black-color;

  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;

  transition:
    box-shadow $transition-duration,
    transform $transition-duration;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    transform: scale(0.98);
  }

  @include on-desktop {
    max-width: 324px;
  }
}
