.container {
  max-width: 1020px;
  margin: 0 auto;
  padding-inline: $page-padding-mobile;

  @include on-tablet {
    padding-inline: $page-padding-tablet;
  }

  @include on-desktop {
    padding-inline: 0;
  }
}
