.contacts {
  padding-block: 0 120px;

  @include on-tablet {
    padding-bottom: 120px;
  }

  @include on-desktop {
    padding-bottom: 180px;
  }

  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__content {
    display: grid;
    row-gap: 48px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }

    @include on-desktop {
      column-gap: 198px;
    }
  }
}
