.footer {
  height: 200px;
  margin: 0 auto;

  background-image: url('../images/footer-bg-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 480px;

    background-image: url('../images/footer-bg-tablet.png');
  }

  @include on-desktop {
    height: 555px;

    background-image: url('../images/footer-bg-desktop.png');
  }

  @media (min-width: 1800px) {
    max-width: 1260px;
  }
}
