.menu {
  position: fixed;
  z-index: 10;
  inset: 0;

  padding-block: 29px;

  @include page-padding-inline;

  background-color: $menu-bg-color;
  color: $black-color;

  transform: translateX(-100%);
  transition: transform $transition-duration;

  &:target {
    transform: translateX(0);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 44px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;

    color: inherit;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    text-decoration: none;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    color: inherit;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    border-bottom: 1px solid $black-color;
  }
}
