@mixin on-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin page-padding-inline {
  padding-inline: $page-padding-mobile;

  @include on-tablet {
    padding-inline: $page-padding-tablet;
  }

  @include on-desktop {
    padding-inline: $page-padding-desktop;
  }
}
